# dependencies
node_modules/

# build output
dist/

# local environment variables
.env

# IDE and editor files
.idea/
.vscode/

# macOS files
.DS_Store

# AWS credentials
~/.aws/credentials

# logging files
logs/
*.log
api/*/logs/*.log # for all api versions
npm-debug.log*
yarn-debug.log*
yarn-error.log*
